.counter__title{
    width: 100%;
    padding: 152px 0 45px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 67px;
    column-gap:64px;
  
  }